@import "../../theme/variables.scss";

.button {
  &__base {
    border: none;
    background-color: #eee;
    color: #222;
    font-size: $baseline * 2;
    font-family: inherit;
    padding: $baseline $gutter;
    cursor: pointer;

    &:hover {
      background-color: $c-btn-hover;
    }
  }

  &__again {
    position: absolute;
    top: $baseline  * 2;
    left: $baseline * 2;
  }

  &__check {

  }
}