.main {
  &__base {
    height: 65vh;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__section {
    &-left {
      width: 52rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    &-right {
      width: 52rem;
      font-size: 2rem;
    }
  }

  &__message {
    margin-bottom: 8rem;
    height: 3rem;
  }

  &__score {
    margin-bottom: 2rem;
  }

  &__highscore {

  }
}

